<input type="text"
        [(ngModel)]="nomVoiture"
        (input)="afficherLettreSaisie($event)"
        /> {{ lettre }}
<button [disabled]="isDisabled"
        (click)="ajouterVoiture();">
  Ajouter une voiture
</button>
<span *ngIf="isAdded">{{ addText }}</span>
<span *ngIf="!isAdded">{{ addText }}</span>

<app-voiture *ngFor="let voiture of voitures; let i = index;" ></app-voiture>

<!-- <p *ngFor="let voiture of voitures; let i = index;">
  <span *ngIf=" (i + 1) % 2 == 0">
    {{ i + 1 }} - {{ voiture }}
  </span>
</p> -->
